html {
  scroll-behavior: smooth;
}

a {
  color: #333333;
}
a:visited {
  color: #333333;
}
a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#top {
  width: 100%;
  min-height: 100vh;
}

#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#logo {
  margin: 10px;
  border: 4px solid black;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transition: all 0.3s ease;
}

#logo:hover {
  background-color: #429ff7;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
  width: 320px;
}

#footer-links a {
  transition: transform 0.2s ease-in-out;
}

#footer-links a:hover {
  transform: scale(1.4);
}

#footer-links img {
  width: 30px;
  height: 30px;
}
